body {
  padding: 0;
  margin: 0;
  background-color: #eee;
}
.pad {
  padding: 5px;
}
.pad-info {
  margin-left: 500px;
  padding-left: 20px;
  font-family: 'Helvetica Neue', Helvetica;
  color: #555;
}

.synth-pad {
  float: left;
  border-radius: 3px;
  background: #1e1e1e url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQYV2P8+vWrJAMRgBGkkJub+zkhtaMK8YYQ0cEDABxGJwNr5yClAAAAAElFTkSuQmCC);
}
.synth-pad:hover {
  cursor: crosshair;
}
